* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

/* navbar */
.nav-bar {
  display: flex;
  padding: 20px;
  background-color: #367ba6;
  color: #fff;
}
.nav-bar ul li {
  display: inline-block;
  margin: 0 10px;
}
.nav-bar ul li a {
  text-decoration: none;
  color: #fff;
  display: inline-block;
  margin-top: 5px;
  margin-left: 30px;
}

/* main section */
.main-content-section {
  margin: 50px;
}

.main-content-section h1 {
  color: #367ba6;
  margin-bottom: 25px;
}

.main-content-section p {
  margin-bottom: 20px;
}

.main-content-section h2 {
  color: #367ba6;
  margin-left: 10px;
}

.main-content-section strong {
  color: #367ba6;
}

.membership {
  background-color: #fff;
  color: #f0ad7a;
  padding-top: 15px;
  margin-bottom: 30px;
  width: 213px;
  text-align: center;
  border: 2px solid #f0ad7a;
  border-radius: 20px;
}
.socials {
  display: flex;
  margin-top: 10px;
  margin-left: -10px;
}

.instagram {
  background-color: #884bf4;
  color: #fff;
  width: 150px;
  text-align: center;
  border-radius: 20px;
  padding: 20px;
  margin: 10px;
}

.facebook {
  background-color: #3678e9;
  color: #fff;
  width: 150px;
  text-align: center;
  border-radius: 20px;
  padding: 20px;
  margin: 10px;
}

.youtube {
  background-color: #ea3223;
  color: #fff;
  border-radius: 20px;
  width: 150px;
  text-align: center;
  padding: 20px;
  margin: 10px;
}
/* Footer section */
.Footer {
  background-color: rgb(70, 139, 172);
  padding-top: 10px;
  padding-left: 10px;
  margin-top: 15px;
  color: white;
}

.Footer .footer-main-headline {
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
}

.Footer P {
  font-size: 14px;
  margin: 0;
}

.Footer ul {
  font-size: 10px;
  margin: 0;
  margin-left: 20px;
  list-style-type: none;
}
